/*===========================

        GLOBAL VARIABLES

=============================*/

/* color
-----------------------*/

$colors : (
    primary: #316bf5,
    light: #FFFFFF,
    dark: #222222,
    light-grey: #f6f6f6,
    mid-grey: #eee,
    dark-grey: #686868,
);

$primary-color: map-get($map: $colors, $key: primary);
$dark: map-get($map: $colors, $key: dark);
$light: map-get($map: $colors, $key: light);
$light-grey: map-get($map: $colors, $key: light-grey);
$mid-grey: map-get($map: $colors, $key: mid-grey);
$dark-grey: map-get($map: $colors, $key: dark-grey);

/* font-families
-----------------------*/

$single-font-family: 'Quicksand', sans-serif;

$font-family-heading: $single-font-family;
$font-family-sub-heading: $single-font-family;
$font-family-paragraph: $single-font-family;


/* font-size
-----------------------*/
// BS default = 14px


$font-size: (
    xxlg: 54px,
    xlg: 35px,
    lg: 22px,
    md: 18px,
    base: 15px,
    sm: 14px,
    xs: 10px,
);

$font-size-xxlg:  map-get($map: $font-size, $key: xxlg);
$font-size-xlg:  map-get($map: $font-size, $key: xlg);
$font-size-lg:  map-get($map: $font-size, $key: lg);
$font-size-md:  map-get($map: $font-size, $key: md);
$font-size-base:  map-get($map: $font-size, $key: base);
$font-size-sm:  map-get($map: $font-size, $key: sm);
$font-size-xs:  map-get($map: $font-size, $key: xs);


/* margin/padding sizing
-----------------------*/
// BS default = 15px

$spacing-xs: 5px;
$spacing-sm: 10px;       // 10px 0.6em
$spacing-base: 15px; // 15px 0.9375em
$spacing-lg: 20px;    // 20px 1.25em
//$spacing-double: 30px;
//$spacing-triple: 60px;

/* breakpoints
-----------------------*/
// bp = breakpoint

$breakpoints: (
    xs: 420px,
    sm: 767px,
    md: 992px,
    lg: 1200px,
);

$bp-xs: map-get($map: $breakpoints, $key: xs);
$bp-sm: map-get($map: $breakpoints, $key: sm);
$bp-md: map-get($map: $breakpoints, $key: md);
$bp-lg: map-get($map: $breakpoints, $key: lg);

/*===========================================

            ELEMENT VARIABLES

==============================================*/