
/*====================
    BS - Btn Primary 
======================*/

.btn-primary {
    color: $light;
    background: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.5s;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: $primary-color;
        background: transparent;
        border: 1px solid $primary-color;
    }
}

/*====================
    BS - Btn default 
======================*/

.btn-default {
    color: $primary-color;
    background: transparent;
    border: 1px solid $primary-color;
    transition: all 0.5s;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: $light;
        background: $primary-color;
        border: 1px solid $primary-color;
    }

}

/*====================
    BS - Btn 
======================*/

.btn {
    border-radius: 50px;
    font-weight: 600;
    padding: 12px 30px;
    font-size: $font-size-base;
    box-shadow: none;

    &:active {
        outline: none;
        box-shadow: none;
    }
}

/*====================
        Custom
======================*/

.btn-block {
    display: block;
    width: 100%;
}