
.parallax-container {
    padding: 210px 0 150px;
}

.section-blubs,
.section-services,
.section-team,
.section-testimonials,
.section-statistics,
.gallery-section,
.section-affilites,
.section-contact-form,
.section-contact-details {
    padding: 100px 0;
}

.section-contact {
    padding: 120px 0;
}